@tailwind base;
@tailwind components;
@tailwind utilities;


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.grid-tabuleiro {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-auto-rows: 1fr;
}

.grid-tabuleiro::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid-tabuleiro > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}